@model SendAndStore.Models.Person
@{
    ViewData["Title"] = "Contact";
}
<div class="container">
    "<div class="container">
        <h1>@ViewData["Title"]</h1>
    </div>

    <form method="post" class="contactform">
        <div class="login">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>

        <div class="logincontact">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
        </div>

        <div class="logincontact">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        <div class="msg">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div>

        <input class="btn" type="submit" value="verstuur" />
    </form>
</div>
    <p>Hallo @ViewData["firstname"] @ViewData["lastname"] welkom bij Wadly! Where you watch movies with fun!</p>
